.Recharts {
   gap: 80px;
   justify-content: center;
   align-items: center;
   margin: 50px auto 0;
}

/* PieChart */
.Recharts .recharts-wrapper {
   margin: auto;
   border: 2px solid goldenrod;
   border-radius: 25px;
}
.legend {
   position: absolute;
   width: 100%;
   -ms-overflow-style: none;
}
.legend::-webkit-scrollbar {
   display: none;
}

.worldmap-recom {
   position: absolute;
   top: 20px;
}