/* Header Styles */
.header {
   display: flex;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   justify-content: space-between;
   align-items: center;
   background-color: #007bff;
   padding: 10px 20px;
   color: white;
   z-index: 1;
}
.header .logo h1 {
   font-family: "Rutan";
   font-size: 1.5rem;
   color: white;
}
.header .nav ul {
   list-style: none;
   display: flex;
   gap: 15px;
}
.header .logout-btn {
   cursor: pointer;
}
.header .logout-btn:hover {
   color: #ddd;
}
.header a {
   color: white;
   text-decoration: none;
   font-size: 1rem;
   position: relative;
   transition: color 0.3s;
}
.header a::after {
   content: "";
   position: absolute;
   bottom: 0px;
   left: 0;
   width: 0;
   height: 2px;
   background-color: white;
   transition: width 0.4s ease, left 0.4s ease;
}
.header a:hover {
   color: #eee;
}
.header a:hover::after {
   width: 100%;
   left: 0;
}
.header a:not(:hover)::after {
   width: 0;
   left: 0;
}

/* Footer Styles */
.footer {
   font-family: "Rutan";
   background-color: #333;
   background-color: #3b485c;
   color: white;
   padding: 15px 20px;
   text-align: center;
   position: fixed;
   width: 100%;
   bottom: 0;
   box-shadow: 0 -2px 10px #6f6f6f;
}

.footer p {
   margin: 0;
   font-size: 0.9rem;
}

.footer a  {
   color: white;
   text-decoration: underline;
   transition: color 0.2s;
}

.footer .social-media {
   margin-top: 10px;
}

.footer .social-media a {
   margin: 0 10px;
   color: #007bff;
   text-decoration: none;
   font-size: 1rem;
}

.footer .social-media a:hover {
   color: #ddd;
}