#nprogress .bar {
   background: #abc71e !important;
   height: 4px !important;
   z-index: 9999;
}
#nprogress .peg {
   box-shadow: 0 0 10px #abc71e, 0 0 5px #abc71e;
}
#nprogress .spinner {
   display: none !important;
}


/* Header Styles */
.header {
   display: flex;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   justify-content: space-between;
   align-items: center;
   background-color: #007bff;
   padding: 10px 20px;
   color: white;
   z-index: 1;
}
.header .logo h1 {
   font-family: "Rutan";
   font-size: 1.5rem;
   color: white;
}
.header .logout-btn {
   cursor: pointer;
}
.header .logout-btn:hover {
   color: #ddd;
}
.header a {
   color: white;
   text-decoration: none;
   font-size: 1rem;
   position: relative;
   transition: color 0.3s;
}
.header a::after {
   content: "";
   position: absolute;
   bottom: 0px;
   left: 0;
   width: 0;
   height: 2px;
   background-color: white;
   transition: width 0.4s ease, left 0.4s ease;
}
.header a:hover {
   color: #eee;
}
.header a:hover::after {
   width: 100%;
   left: 0;
}
.header a:not(:hover)::after {
   width: 0;
   left: 0;
}
.menu-icon img {
   width: 26px;
   display: block;
   cursor: pointer;
}
/* Side Navigation Menu */
.sidenav {
   position: fixed;
   top: 0;
   right: -200px;
   width: 200px;
   height: 100%;
   background: #333;
   transition: transform 0.3s ease-in-out;
   box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
   padding-top: 10px;
   z-index: 1000;
}
.sidenav.open {
   transform: translateX(-200px);
}
.sidenav-header {
   display: flex;
   justify-content: flex-end;
   padding: 0 10px 10px;
}
/* Overlay Effect */
.sidenav-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   transition: opacity 0.3s ease-in-out;
   opacity: 0;
   pointer-events: none;
   z-index: 999;
}
.sidenav-overlay.show {
   opacity: 1;
   pointer-events: all;
}
.close-btn {
   cursor: pointer;
   font-size: 28px;
}
.sidenav nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
}
.sidenav nav ul li {
   text-align: right;
   width: 85%;
   margin: auto;
   padding: 10px 20px;
   border-bottom: 1px solid #555;
}

/* Hide sidenav & menu-icon on large screens */
@media screen and (min-width: 700px) {
   .sidenav {
      position: absolute;
      right: 160px;
      background: #007bff;
      box-shadow: none;
      transition: none;
   }
   .sidenav nav ul li {
      padding: 10px 15px;
      border-bottom: none;
   }
   .menu-icon {
      display: none;
   }
   .header nav ul {
      display: flex;
   }
}

/* Footer Styles */
.footer {
   font-family: "Rutan";
   background-color: #333;
   background-color: #3b485c;
   color: white;
   padding: 15px 20px;
   text-align: center;
   position: fixed;
   width: 100%;
   bottom: 0;
   box-shadow: 0 -2px 10px #6f6f6f;
}

.footer p {
   margin: 0;
   font-size: 0.9rem;
}

.footer a  {
   color: white;
   text-decoration: underline;
   transition: color 0.2s;
}

.footer .social-media {
   margin-top: 10px;
}

.footer .social-media a {
   margin: 0 10px;
   color: #007bff;
   text-decoration: none;
   font-size: 1rem;
}

.footer .social-media a:hover {
   color: #ddd;
}