:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
a {
   text-decoration: none;
}

/* Container styling for the dashboard */
.dashboard-container {
   max-width: 1200px;
   margin: 0 auto 2rem;
   padding: 2rem;
   background-color: #f9f9f9;
   border-radius: 10px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.dashboard-container h2 {
   text-align: center;
   margin-bottom: 1rem;
   color: #333;
}
.dashboard-container h3 {
   margin-bottom: 1.5rem;
   color: #555;
}
/* Table styling */
table {
   width: 100%;
   border-collapse: collapse;
   margin-bottom: 2rem;
}
thead {
   background-color: #007bff;
   color: white;
}
th, td {
   padding: 12px 15px;
   text-align: left;
   border-bottom: 1px solid #ddd;
}
tbody tr:nth-child(even) {
   background-color: #f3f3f3;
}
tbody tr:hover {
   background-color: #f1f1f1;
}
th {
   background-color: #007bff;
   color: white;
}
td a {
   color: #007bff;
   text-decoration: none;
}
td a:hover {
   text-decoration: underline;
}
td {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
.delete-button {
   background: none;
   border: none;
   color: rgb(229, 61, 61);
   cursor: pointer;
   padding: 0;
}
.delete-button:hover {
   color: red;
}
/* Responsive adjustments */
@media (max-width: 600px) {
   table, thead, tbody, th, td, tr {
      display: block;
   }
   thead {
      display: none;
   }
   tr {
      margin-bottom: 1rem;
      border-bottom: 2px solid #ddd;
      padding-bottom: 1rem;
   }
   td {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
   }
   td::before {
      content: attr(data-label);
      font-weight: bold;
      color: #555;
      display: inline-block;
      margin-right: 10px;
   }
}
.error {
   color: red;
   font-size: 1.1rem;
   text-align: center;
   margin-bottom: 10px;
}

/* Container for the shortener form */
.shortener-form-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100svh;
   background-color: #f4f4f9;
}
.shortener-form {
   background-color: #fff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   width: 85%;
   max-width: 400px;
   text-align: center;
}
.shortener-form h2 {
   margin-bottom: 20px;
   font-size: 1.5rem;
   color: #333;
}
.shortener-form label {
   display: block;
   text-align: left;
   margin-bottom: 5px;
   color: #666;
}
.shortener-form input {
   width: 95%;
   padding: 10px;
   margin-bottom: 15px;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 1rem;
}
.shortener-form input:focus {
   outline: none;
   border-color: #007bff;
   box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.shortener-form button {
   width: 100%;
   padding: 10px;
   background-color: #007bff;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 1rem;
   transition: background-color 0.3s ease;
}
.shortener-form button:hover {
   background-color: #0056b3;
}
.result {
   margin-top: 20px;
   font-size: 1rem;
}
.result a {
   color: #007bff;
   text-decoration: none;
}
.result a:hover {
   text-decoration: underline;
}

